html {
    scroll-behavior: smooth !important;
    scrollbar-width: none !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
}

.font-esthetic {
    font-family: 'Sacramento', cursive !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

.img-crop {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-crop>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    bottom: 9vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.btn-theme {
    position: fixed;
    bottom: 15vh !important;
    right: 2vh !important;
    z-index: 1055 !important;
}

.loading-page {
    position: fixed;
    inset: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 1056 !important;
}

.card-body {
    overflow-wrap: break-word !important;
}

.mouse-animation {
    padding: 0.25rem 0.625rem;
    height: 2rem;
    border-radius: 1.4rem;
    opacity: 0.75;
    box-sizing: content-box;
}

@keyframes scroll {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.mouse-animation>.scroll-animation {
    width: 0.25rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #808080;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-icon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-button {
    animation: spin-icon 5s linear infinite;
}

@keyframes love {
    50% {
        transform: translateY(1rem);
    }
}

.animate-love {
    animation: love 5s ease-in-out infinite;
}

.dark-section {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

footer {
    margin-top: -0.5rem;
    padding-bottom: 5rem;
}

.bg-theme-light {
    background-color: var(--bs-gray-100);
}

.bg-theme-dark {
    background-color: var(--bs-gray-800);
}

.color-theme-white {
    color: white;
}

.color-theme-black {
    color: black;
}

.video-container {
    max-width: 90%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

video {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}

.carousel {
    position: relative;
}

.see-more {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px 20px;
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.see-more:hover {
    background: #000000;
    color: white;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF" viewBox="0 0 16 16"%3E%3Cpath d="M11.5 3.5l-4 4 4 4V3.5z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23FFFFFF" viewBox="0 0 16 16"%3E%3Cpath d="M4.5 3.5l4 4-4 4V3.5z"/%3E%3C/svg%3E');
}

.gallery-item {
    position: relative;
    overflow: hidden;
  }
  
  .gallery-item img {
    transition: .5s;
  }
  
  .gallery-item:hover img {
    transform: scale(1.2);
  }
  
  .gallery-item a {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
  }
  
  .gallery-item:hover a {
    opacity: 1;
  }
  
  .bg-gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/gallery.jpg), no-repeat center center;
    background-size: cover;
  }
  
  .gallery-carousel .owl-nav {
    position: absolute;
    width: 135px;
    height: 60px;
    top: -90px;
    left: calc(50% - 67px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  .gallery-carousel .owl-nav .owl-prev,
  .gallery-carousel .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E47A2E;
    background: #FFFFFF;
    font-size: 30px;
  }